*{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
	background-color: #efefef;
}
#main_nav{
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 2px;
    left: 0px;
}
#main_nav>a{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}
#main_nav>a {
    position: relative;
    color: #fff;
    text-decoration: none;
    width: fit-content;
    text-align: center;
  }
  
#main_nav>a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fd9619;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

#main_nav>a:hover::before {
  transform: scaleX(1);
}

#book{
	background: url(../images/food_pic.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    
}

.layer{
	text-align: center;
	padding: 15px;
	font-size: 80px; 
	color: white;
	font-family: 'Kristi', cursive;
    background: linear-gradient(to bottom, rgba(45,45,45,0.4) 0%, rgba(45,45,45,0.9) 100%);
}

.container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

.btn {
	background-color: #fd9619;
	color: #000;
	font-family: Poppins;
	border-radius: 8px;
	font-size: 1.2rem;
	width: max-content;
	border: none;
	padding: 1rem 2rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
}

.form-wrapper {
	padding: 3rem 0;
}
.form-wrapper form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}
.form-group label {
	font-size: 1.2rem;
	font-family: Poppins;
	color: #000;
	font-weight: 500;
}
.form-group textarea {
	resize: vertical;
}

.form-group input,
.form-group textarea,
.form-group select {
	width: 100%;
	border: none;
	background-color: #fd9619;
	font-size: 1.2rem;
	font-family: Raleway;
	font-weight: 600;
	padding: 1.2rem;
	border-radius: 8px;
	margin-top: 0.5rem;
}

@media only screen and (min-width: 768px) {
	.form-wrapper {
		padding: 5rem 0;
	}
	.form-wrapper form {
		grid-template-columns: 1fr 1fr;
	}
	.form-group-full {
		grid-column: 1/3;
	}
	.form-group label {
		font-size: 1.2rem;
	}
}
